{{define "head"}}
{{end}}



{{define "content"}}
<div class="container">
  <form method="post">
    <div class="form-group">
      <label for="InputEmail">Email address</label>
      <input type="email" name="email" class="form-control" id="InputEmail" name="email" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="InputName">Username</label>
      <input type="text" class="form-control" name="name" id="InputName" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="InputRole">Role</label>
      <select id="inputType" name="role" class="form-control">
        <option value="admin" selected >Admin</option>
        <option value="member">Member</option>
      </select>    
    </div>
    <div class="form-group">
      <label for="InputPassword">Password</label>
      <input type="password" class="form-control" name="password" id="InputPassword">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{{end}}